// Component Contact

@import "../vars";
@import "../mixins";

.contact {
  padding-bottom: 80rem;

  .bgc_text {
    right: -49%;
  }

  .section_title {
    margin-top: 70rem;
  }
}

.contact_content {
  margin-top: 50rem;
  display: flex;
  justify-content: space-between;
  margin-left: 60rem;
  align-items: flex-end;
}

.contact_form {
  display: flex;
  width: 526rem;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
}

.contact_input {
  border: none;
  width: 100%;
  background-color: transparent;
  border-bottom: 1px solid $border_bottom;
  margin-bottom: 40rem;
  font-size: 14rem;
  padding: 7rem 0;
  color: #5d5d5d;
  font-family: 'SpaceGrotesk-Regular', sans-serif;
}

.contact_btn {
  margin-top: 60rem;
  text-transform: uppercase;
  color: $title_color;
  font-size: 16rem;
  border: none;
  font-family: 'SpaceGrotesk-Regular', sans-serif;
  background-color: transparent;

  i {
    margin-left: 15rem;
    color: $title_color;
    font-size: 12rem;
  }
}

@media #{$mediaExtraLarge} and #{$media_1500} {
  .contact_content_pic {
    width: 50%;

    img {
      width: 100%;
    }
  }

  .contact_content {
    align-items: center;
  }
}

@media #{$mediaLarge} {
  .contact_content {
    margin-left: 0;
    align-items: center;
  }

  .contact_content_pic {
    margin-left: 15px;

    img {
      max-width: 100%;
    }
  }
}

@media #{$mediaMedium} {
  .contact_content {
    margin-left: 0;
    align-items: center;
  }

  .contact_content_pic {
    margin-left: 15px;

    img {
      max-width: 100%;
    }
  }
}

@media #{$mediaSmall} {
  .contact_content_pic {
    display: none;
  }

  .contact_content {
    margin: 40rem 0 0;
    justify-content: center;
  }

  .contact .section_title {
    margin-left: 0;
  }
}

@media #{$mediaExtraSmall} {
  .contact_content_pic {
    display: none;
  }

  .contact_content {
    margin: 40rem 0 0;
  }

  .contact .section_title {
    margin-left: 0;
  }
}
