/* Component Services*/
@import "../vars";
@import "../mixins";

.services{
  position: relative;
  margin-bottom: 80rem;
  padding-bottom: 50rem;
  //&:before{
  //  content: "";
  //  position: absolute;
  //  height: 397rem;
  //  width: calc((100vw - 1440rem) / 2 + 1116rem);
  //  background-color: $dark_background;
  //  bottom: 0;
  //  right: 0;
  //}
  .bgc_text{
    right: -4%;
  }
  .section_title{
    padding-bottom: 0;
    &:after{
      display: none;
    }
  }

}

.services_row{
  margin-left: 60rem;
  display: flex;
  margin-top: 38rem;
}

.services_content{
  margin-right: 60rem;
  margin-left: 66rem;
}

.services_content_text{
  width: 400rem;
  font-size: 14rem;
  line-height: 165%;
  color: $text_color_dark;
  font-family: 'SpaceGrotesk-Regular';
  padding-top: 35rem;
  margin-top: 0;
  position: relative;
  &:before{
    content: '';
    display: block;
    width: 100rem;
    position: absolute;
    height: 1px;
    background-color: $text_line;
    top: 0;
    left: 0;
  }
}

.services_list{
  display: flex;
  margin-top: 92rem;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  &:before{
    content: '';
    position: absolute;
    top: -65rem;
    bottom: -65rem;
    left: -130rem;
    right: -130rem;
    background: $dark_background;
    z-index: -1;
  }
}

.services_item{
  width: 264rem;
  &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3){
    margin-bottom: 68rem;
  }
}

.services_item_title{
  display: flex;
  color: $text_color_light;
  h4{
    margin: 0 0 0 15rem;
    font-size: 22rem;
    font-family: 'GTWalsheimPro-Medium';
    font-weight: 500;
    color: $services_item_title;
    text-transform: uppercase;
  }
  span{
    font-size: 57rem;
    line-height: 95%;
    color: $services_item_main;
    font-family: 'GTWalsheimPro-Regular';
  }
}

.services_item_text{
  font-family: "SpaceGrotesk-Regular";
  font-size: 14rem;
  color: $text_color_light;
  margin-bottom: 0;
}

@media #{$mediaLarge}{
  .services_item:nth-of-type(1), .services_item:nth-of-type(2), .services_item:nth-of-type(3){
    margin-bottom: 35px;
  }
  .services_item{
    margin-bottom: 35px;
    margin-left: 40px;
  }
  .services_row{
    margin-left: 0;
  }
  .services_content_text{
    width: auto;
  }
}

@media #{$mediaMedium} {
  .services_item:nth-of-type(1), .services_item:nth-of-type(2), .services_item:nth-of-type(3){
    margin-bottom: 25px;
  }
  .services_item{
    margin-bottom: 25px;
  }
  .services_row{
    margin-left: 0;
  }
  .services_content_text{
    width: auto;
  }
  .about .section_title{
    position: relative;
  }
}



@media #{$mediaSmall}{
  .about .section_title{
    position: absolute;
  }
  .services_pic{
    display: none;
  }
  .services .section_title{
    margin-top: 0;
  }
  .services_list::before{
    bottom: -30rem;
  }
  .services_row{
    margin-left: 0;
    margin-top: 40rem;
  }
  .services_content_text{
    width: 100%;
    padding-left: 60rem;
    font-size: 12rem;
    padding-top: 0;
  }
  .services_content{
    margin: 0;
  }
  .services_content_text::before{
    width: 39rem;
    top: 8rem;
  }
  .services_item{
    width: 41%;
  }
  .services::before{
    width: 100vw;
    height: 67%;
  }
  .services_item, .services_item:nth-of-type(1), .services_item:nth-of-type(2), .services_item:nth-of-type(3){
    margin-bottom: 30rem;
  }
  .services_item_title span{
    font-size: 32rem;
  }
  .services_item_title h4{
    font-size: 12rem;
    margin-left: 10rem;
  }
  .services_item_title p{
    font-size: 10rem;
  }
  .services{
    padding-bottom: 0;
  }
}

@media #{$mediaExtraSmall} {
  .services_list::before{
    bottom: 0;
    top: -35px;
  }
  .services_pic{
    display: none;
  }
  .services_row{
    margin-left: 0;
    margin-top: 40rem;
  }
  .services_content_text{
    width: 100%;
    padding-left: 60rem;
    font-size: 12rem;
    padding-top: 0;
  }
  .services_content{
    margin: 0;
  }
  .services_content_text::before{
    width: 39rem;
    top: 8rem;
  }
  .services_item{
    width: 41%;
    margin-left: 0;
  }
  .services::before{
    width: 100vw;
    height: 67%;
  }
  .services_item, .services_item:nth-of-type(1), .services_item:nth-of-type(2), .services_item:nth-of-type(3){
    margin-bottom: 30rem;
  }
  .services_item_title span{
    font-size: 32rem;
  }
  .services_item_title h4{
    font-size: 12rem;
    margin-left: 10rem;
  }
  .services_item_title p{
    font-size: 10rem;
  }
  .services{
    padding-bottom: 0;
    margin-bottom: 50rem;
  }
  .services_list{
    margin-top: 65px;
  }
}
