/* Component Topic */
@import "../vars";
@import "../mixins";

.topic {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, $dark_background 900rem, $main_background calc(100% - 900rem));
  background-color: $dark_background;
  padding-top: 155rem;

  .container {
    padding: 0 125rem;
  }
}

.topic_text {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.topic_title {
  color: $topic_title;
  font-family: "GTWalsheimPro-Regular", sans-serif;
  font-size: 200rem;
  margin: 0;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  width: 991rem;
  font-weight: 500;
  letter-spacing: 0.05em;
  flex-wrap: wrap;
  line-height: 85%;

  &_text {
    color: $text_color_light;
    display: inline-block;
    font-size: 12rem;
    text-transform: none;
    letter-spacing: normal;
    line-height: 165%;
    width: 175rem;
    font-family: "SpaceGrotesk-Regular", sans-serif;
    padding-left: 16rem;
    transition: 1s;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.1);

    &.active {
      opacity: 1;
      visibility: visible;
      transform: scale(1);
    }
  }
}

.topic_link {
  font-family: "SpaceGrotesk-Regular", sans-serif;
  font-size: 14rem;
  letter-spacing: 0.05em;
  color: $text_color_light;
  //line-height: 165%;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding-bottom: 15rem;

  i {
    margin-left: 5rem;
    font-size: 10rem;
    display: block;
    margin-top: -4rem;
    transition: 0.3s;
  }

  &:hover {
    i {
      transform: translate(5rem, 0);
    }
  }
}

.topic_image {
  margin-top: 47rem;
  max-width: 100%;
}

@media #{$mediaLarge} {
  .topic .container {
    padding: 0;
  }

  .topic_title {
    width: 500px;
    font-size: 125rem;
  }
}

@media #{$mediaMedium} {
  .topic .container {
    padding: 0;
  }

  .topic_title {
    width: 500px;
    font-size: 125rem;
  }
}

@media #{$mediaExtraLarge} and #{$media_1500} {
  .topic .container {
    padding: 0 80rem;
  }

  .topic_title {
    width: 680rem;
  }
}

@media #{$mediaSmall} {
  .topic .container {
    padding: 0 20rem;
  }

  .topic_title p {
    max-width: 130rem;
    font-size: 9rem;
    width: 43%;
    margin-left: 6rem;
  }

  .topic_title {
    width: 100%;
    font-size: 128rem;
  }

  .topic_text {
    flex-direction: column;
  }

  .topic {
    min-height: 100%;
    padding-top: 115rem;
    background-image: linear-gradient(to bottom, $dark_background 80%, $main_background 0%);
  }

  .topic_pic {
    width: 100%;
  }

  .topic_image {
    width: 100%;
    margin-top: 17rem;
  }

  .topic_link {
    margin-top: 40rem;
  }
}

@media #{$mediaExtraSmall} {
  .topic .container {
    padding: 0 20rem;
  }

  .topic_title p {
    max-width: 130rem;
    font-size: 8rem;
    width: 43%;
    margin-left: 6rem;
  }

  .topic_title {
    width: 100%;
    font-size: 66rem;
  }

  .topic_text {
    flex-direction: column;
  }

  .topic {
    min-height: 100%;
    padding-top: 115rem;
    background-image: linear-gradient(to bottom, $dark_background 80%, $main_background 0%);
  }

  .topic_pic {
    width: 100%;
  }

  .topic_image {
    margin-top: 10rem;
    width: 100%;
  }

  .topic_link {
    margin-top: 40rem;
  }
}
