// Main Colors
$dark_background: #3476AA;
$main_background: white;
$text_color_light: #FFFFFF;
$text_color_dark: #2A2A2A;
$title_color: #052983;
$topic_title: white;
$bgc_text: #F3F4F9;
$title_color_line: #D3D3D3;
$video_on: #FFFFFF;
$text_line:  #D3D3D3;
$services_item_main: #FFFFFF;
$services_item_title: white;
$title_color_white: white;
$text_team_on_light: white;
$grey:  #5D5D5D;
$title_team_on_light: white;
$feedback_item: white;
$feedback_item_title: #052983;
$border_bottom: #C0C9E0;
$adaptiv_portfolio_text: #2A2A2A;
$adaptive_team_name: white;
$adaptive_team_position: white;
$menu_color: #D6E4EE;
$category: #052983;
$blog_color: #5D5D5D;
$blog_bgc: #F7F8F9;
$contact_title: white;

// Dark Colors
//$dark_background: #242529;
//$main_background: #000000;
//$bgc_text: #2D2022;
//$text_color_light: #D3D3D3;
//$text_color_dark: #D3D3D3;
//$title_color: #FF7164;
//$title_color_line: #D3D3D3;
//$video_on: #FF7164;
//$text_line:  #D3D3D3;
//$topic_title: #FF7164;
//$services_item_main: #FF7164;
//$services_item_title: white;
//$title_color_white: #FF7164;
//$text_team_on_light: #FF7164;
//$grey: #D3D3D3;
//$title_team_on_light: #D3D3D3;
//$feedback_item: #000000;
//$feedback_item_title: #FF7164;
//$border_bottom: #5E3331;
//$adaptiv_portfolio_text: #242529;
//$adaptive_team_name: #FF7164;
//$adaptive_team_position: #D3D3D3;
//$menu_color: #FF7164;
//$category: #9FA3A7;
//$blog_color: #FF7164;
//$blog_bgc: #242529;
//$contact_title: #FF7164;

//Media
$mediaExtraSmall: (max-width: 575px);
$mediaSmall: (min-width: 576px) and (max-width: 768px);
$mediaMedium: (min-width: 769px) and (max-width: 992px);
$mediaLarge: (min-width: 993px) and (max-width: 1200px);
$mediaExtraLarge: (min-width: 1200px);
$media_1500: (max-width: 1500px);